
#botao:hover{
  zoom:110%;
}

#botaoUm,#botaoDois, #botaoTres .modal{
    font-family: "gameofbrush";    
}

#botaoUm,#botaoDois, #botaoTres{
	position: relative;
}

#botaoUm button{
	margin-left: 7em;
    /*margin-top: -2em;*/
    width: 21em;
    height: 6em;
    font-size: 2.3em;
    background-color: azure;
    color: black;
    font-weight: 800;
    border-radius: 55%;
    text-align: center;
    border-color: blue;
}

#botaoUm img{
	width: 5em;
    border-radius: inherit;
}

#botaoDois{
    margin-top: -12em;
}

#botaoDois button{
	margin-left: 34em;
    /*margin-top: -6em;*/
    width: 21em;
    height: 6em;
    font-size: 2.3em;
    background-color: cadetblue;
    color: black;
    font-weight: 800;
    text-align: center;
    border-radius: 55%;
    border-color: lightgreen;
}

#botaoDois img{
	width: 6em;
    margin-left: -1em;
}

#botaoTres button{
	margin-left: 21em;
    margin-top: 1em;
    width: 21em;
    border-radius: 55%;
    height: 6em;
    font-size: 2.3em;
    background-color: white;
    color: black;
    font-weight: 800;
    text-align: center;
    border-color: saddlebrown;
}

#botaoTres img{
	width: 9em;	
    border-radius: inherit;
}

#botoes{
	margin-top: 20em;
	margin-left:-4em;
	position: absolte;
}
.modal-dialog {
    max-width: 500px;
    margin: auto;
}

.modal-backdrop.fade {
    opacity: 0.6;
}

.fade.in{
	opacity: 1/
}

#modal-mensagem{
	margin-top:40px;
}


.modal-header .close{    
    margin-top: -0.2em;
}


.modal-header{
	margin-top:90px;	
}

.modal-header img{
width:50px;
height:20px;
bottom:0;	
}

.modal-body{
	margin-top:0px;
    padding: 1.5em;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid black;
}
    .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: black;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    top: 90px;
}