@font-face{
    font-family: "spaceAge";
    src: url("font/space age.ttf");
}

body{
    overflow-x: hidden;
}


video{
    border-radius: 7%;
    border-width: thin;
}

.container{
    display: flex;
}

.navbar {
    z-index: 11 !important;
    width: 100% !important;
    position: fixed !important;
    font-size: 20px !important;
}

#navbar a {
    color: white;
    background-color: black;
}


.background {
    background-image: url(../imagens/galaxieBackground.jpg);
    position: fixed;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    animation: slide 400s linear infinite;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 0;
    }
}

.barra {
    width: 151%;
    top: 25%;
    z-index: 10;
    height: 1000px;
    position: absolute;
}

.logo {
    padding-top: 10%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
    filter: brightness(60%);
}

#planeta{
    filter: brightness(100%);
    /*background-color: antiquewhite;*/
    z-index: 1;
    opacity: 1;
    -webkit-filter: grayscale(100%);

}

#idea{
    padding-top: 1%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);    
    margin-bottom: 4%;
}

.cardConquista{
    background-image: url('../imagens/conquistas/salaIsmstem.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 57em;
/*    width: 800px;*/
    position: relative;
}

.card-footer{
    font-weight: 500;
}

#star{
        padding-top: 1%;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);    
}

#start:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);    
}

.titulo {
    position: relative;
    color: white;
    text-align: center;
    font-size: 49px;
    margin-top: 2%;
    font-family: monospace;
}

.descricao {
    position: relative;
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    margin-top: 3%;
}


.iris, .gabriel, .aryanne, .luis, .guilherme{
    text-align: center;
}

#siu2019_p1{
    
    font-family: monospace;
    font-weight: 800;
    color: black;
    font-size: xx-large;
}

#siu2019_h1{
    background-color: aquamarine;
    font-family: monospace;
    font-weight: 800;
    color: black;
    font-size: xx-large;
}


#vconexao_p1{
    
    font-family: monospace;
    font-weight: 800;
    color: black;
    font-size: xx-large;
}

#vconexao_h1{
    background-color: rgb(255, 127, 165);
    font-family: monospace;
    font-weight: 800;
    color: black;
    font-size: xx-large;
}


#aeroclube_h1{
    background-color: rgb(250, 127, 86);
    font-family: monospace;
    font-weight: 800;
    color: black;
    font-size: xx-large;
}


#carouselExampleIndicators3 img{
    height: 25em;
}
  
  
#carouselExampleIndicators2 img{
    height: 25em;
}
  
  
#carouselExampleIndicators img{
    height: 25em;
}
  
#carouselExampleIndicators, #carouselExampleIndicators2, #carouselExampleIndicators3{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


#divPassarPorCima {
    background-color: white;
    top: 100%;
    z-index: 10;
    height: 475px;
/*    position: absolute;*/
    width: auto;
    height: auto;
/*    margin-top: 60%;*/
    opacity: .8;
    padding-left: 3%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 15%;
}


#divPassarPorCima h1{
    margin-bottom: 4%;
}

#divPassarPorCimaDois {
    background-color: black;
    top: 100%;
    z-index: 10;
    height: 475px;
/*    position: absolute;*/
    width: auto;
    height: auto;
    margin-top: 10%;
    opacity: .88;
    margin-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
}

#divPassarPorCimaDois h1{
    text-align: center;
    opacity: 1;
    color: white;
    font-family: monospace;
    font-size: -webkit-xxx-large;
}


#divPassarPorCimaDois h2{
    text-align: center;
    opacity: 1;
    color: white;
    font-family: monospace;
    font-size: xx-large;
}

#fundoGabriel{
    background-color: invisible;
    opacity: 0.6;
    /* width: 2em; */
    margin-top: -50%;
    /* margin-left: 9%; */
    color: white;
    font-size: 2em;
    font-weight: 500;
    visibility: hidden;
    position: relative;
    z-index: 1000;
    text-align: center;
}

#divDepoimentos {
    background-color: white;
    top: 100%;
    z-index: 10;
    height: 475px;
/*    position: absolute;*/
    width: auto;
    height: auto;
/*    margin-top: 60%;*/
    opacity: .99;
    padding-left: 3%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#divDepoimentos h1{
    margin-bottom: 4%;
}


#divDepoimentosDois {
    background-color: white;
    top: 100%;
    z-index: 10;
    height: 475px;
/*    position: absolute;*/
    width: auto;
    height: auto;
/*    margin-top: 60%;*/
    opacity: .87;
    padding-left: 3%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 15%;
}


#divDepoimentosDois h3,#divDepoimentos h3 {
    font-family: monospace;
}

div.gallery-dois {
    margin: 3%;
    border: 1px solid #ccc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    float: left;
    width: 210px;
}

div.gallery-dois:hover {
    border: 1px solid #217df5;
}

div.gallery-dois img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.membros {
    margin-left: 12%;
    margin-top: 2%;
    width: auto;
    height: auto;
}

.row{
    margin-top: 10%;
    margin-bottom: 10%;
}


#divTitulos{
    background-color: grey;
    opacity: .6;
}

#divTitulos h1{
    color: white;
}

#btnDois{
    margin-top: -17%;
    background-color: black;
    border-color: darkblue;
    font-size: 1.1em;
    margin-right: 26%;
}

#btnUm{
    margin-top: -18%;
    background-color: black;
    border-color: darkblue;
    font-size: 1.1em;
    margin-left: 9%;
    margin-right: 24%;}

#btnTres{
    margin-top: -17%;
    background-color: black;
    border-color: darkblue;
    font-size: 1.1em;
}